body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  background-color: #f0f0f0;
}
header {
  font-size: 10px;
  display: flex;

  border-bottom: #e7e7e7 solid 2px;
}
header #logo {
  width: 5%;
  height: 5%;
}
header .Hitem {
  margin: 5px;
}
header h1 {
  margin-left: 5px;
  margin-top: 0;
}
#honkey {
  color: #262830;
}
#type {
  color: #41757f;
}
#mode {
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 30px;
  margin-top: 5px;
}
.modebtn {
  border: none;
}
#extended {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
button {
  height: 25px;
  width: 50px;
}
.container {
  margin: 0 auto;
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  border: solid goldenrod 1px;
  margin-bottom: 10px;
}
#testView {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.word-container {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 1px solid goldenrod;
}

.words {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #262830;
  word-wrap: break-word;
  overflow-y: auto;
}
#typingInput {
  flex: 1;
  width: 100%;
  resize: none;

  background: transparent;
  color: #262830;
  font-size: 18px;

  border: none;
  outline: none;

  padding: 10px;
}
#hint {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 24px;

  padding: 10px 0;
}
.hidden {
  display: none;
}
