body {
  margin: 0;
  font-family: monospace;
  color: #999;
}





header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #eaeaea;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(7, 87, 87);
}

#logo {
  height: 28px;
}

.login-btn {
  background: none;
  border: none;
  font-family: system-ui;
  font-weight: bold;
  font-size: 18px;
  color: rgb(75, 131, 131);
  cursor: pointer;
}

.login-btn:hover {
  font-size: 19px;
}






.container {
  max-width: 800px;
  margin: 0 auto;
}

.word-container {
  border: 2px solid #cfe3f7;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
}

.words {
  font-size: 16px;
  line-height: 1.6;
  color: #b0b0b0;
}


#typingInput {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-family: inherit;
  color: transparent;
  caret-color: #4a90e2;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid #eee;
  font-size: 13px;
  color: #999;
}



#mode {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  margin-bottom: 2px;
}

#extended {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 0;
  
}
.submode-btn {
  background: none;
  border: none;
  padding: 6px 3px;
  font-size: 14px;
  color: #999;
  cursor: pointer;
}

.submode-btn.active {
  color: #4a90e2;
  border-bottom: 2px solid #4a90e2;
}



.modebtn {
  background: none;
  border: none;
  padding: 6px 2px;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}

.modebtn.active {
  color: #4a90e2;
  border-bottom: 2px solid #4a90e2;
}

.hidden {
  display: none;
}
