/* =====================
   BASE
===================== */

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Courier New";
  background-color: #f8f8f8; 
  color: #333;
  display: flex;
  flex-direction: column;
}


/* =====================
   PAGE LAYOUT
===================== */

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


/* =====================
   HEADER
===================== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f5f5f5;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(7, 87, 87);
}

#logo {
  height: 28px;
}


/* =====================
   AUTH LAYOUT
===================== */

.auth-wrapper {
  display: flex;
  justify-content: center;
  gap: 160px;           
  margin-top: 120px;   
}

.auth-box {
  width: 340px;       
  display: flex;
  flex-direction: column;
  gap: 14px;          
}


/* =====================
   TITLES
===================== */

.auth-title {
  font-size: 20px;
  font-weight: normal;
  color: #aaa;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}


/* =====================
   INPUTS
===================== */

.auth-box input[type="text"],
.auth-box input[type="email"],
.auth-box input[type="password"] {
  background: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 14px 16px;
  font-family: monospace;
  font-size: 16px;  
  color: #555;
  outline: none;
}

.auth-box input::placeholder {
  color: #aaa;
}


/* =====================
   BUTTONS
===================== */

.auth-btn {
  margin-top: 6px;
  background: #eaf3ff;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
  color: #4a90e2;
  cursor: pointer;
}

.auth-btn:hover {
  background: #dcecff;
}

/* =====================
   ICONS (register / login) 
===================== */

.auth-title img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

/* BUTTON ICONS */
.auth-btn img {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

/* SOCIAL ICONS */
.socials img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}



/* =====================
   SOCIAL LOGIN
===================== */

.socials {
  display: flex;
  gap: 10px;
}

.socials button {
  flex: 1;
  background: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 14px;
  cursor: pointer;
  font-size: 14px;
}

.socials button:hover {
  background: #e6e6e6;
}


/* =====================
   register
===================== */

.divider {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  margin: 6px 0;
}

.remember {
  font-size: 14px;
  color: #777;
  display: flex;
  align-items: center;
  gap: 8px;
}

.forgot {
  font-size: 14px;
  color: #aaa;
  text-decoration: none;
  text-align: right;
}

.forgot:hover {
  text-decoration: underline;
}

/* =====================
   FADE-IN ANIMATION
===================== */

.fade-in {
  opacity: 0;
  transform: translateY(20px); /* jemný posun hore */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}


/* =====================
   FOOTER
===================== */

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-size: 16px;
  color: #3a3a3a;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}

footer a {
  color: #3a3a3a;
  text-decoration: none;
  margin-right: 12px;
}

footer a:hover {
  font-weight: bold;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.theme-btn {
  background: none;
  border: none;
  font-size: 12px;
  color: #3a3a3a;
  cursor: pointer;
}

.theme-btn:hover {
  font-weight: bold;
}
